.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}
.notFound{
  width: 30%;
  height:60%;
  object-fit: cover;
  margin-left: 15%;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    height: 100vh;
    gap: 20px;
    text-align: center;
  }
  .notFound {
    width: 80vw;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
  }
}