    <header class="cabecalho">
        <img src="/assets/logohome.webp" alt="Logo do fut memória" class="logo">
        <h1>Fut memória</h1>
        <button class="menu-toggle" aria-label="Abrir menu">&#9776;</button>
        <nav class="menu">
            <ul class="menu-lista">
                <li>
                    <a
                        href="/game">Jogar
                    </a>
                </li>

                <li>
                    <a
                        href="/ranking">Ranking
                    </a>
                </li>

                <li>
                    <a 
                        href="/cadastro">Cadastro
                    </a>
                </li>

                <li>
                    <a 
                        href="/login">Login
                    </a>
                </li>

                <li>
                    <a 
                        href="/">Home
                    </a>
                </li>
            </ul>
        </nav>
    </header>