<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Fut memória</title>
    <link rel="stylesheet" href="/style/menu.css">
    <link rel="stylesheet" href="/style/footer.css">
</head>
<body>
    <?php
        include_once 'views/header.html';
    ?>

    <main class="conteudo">
        <div>
            <h2>Bem-vindo ao Fut memória!</h2>
            <p>Teste sua memória com os clubes de futebol mais icônicos.</p>
        </div>
    </main>

    <?php
        require_once "views/footer.html";
    ?>
    <script src="/js/menuToogle.js"></script>
</body>
</html>